body{
   
    background:linear-gradient(#aaa,#27ae60);
    color:white;
}

#container{
    width:968px;
    margin:auto;
}

#header{
    text-shadow: 2px 2px 5px #27ae60;
    animation-name: color_change;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    
}



@keyframes color_change{
    0% {color:deeppink};
    30% {color:aquamarine;}
    70%{color:bisque;}
    100% {color:green};
    
}



.clr{
    clear:both;
}

#nav ul{
    padding: 15px;
    background: #27ae60;
    box-shadow: 5px 5px #aaa;
}

#nav li{
    display:inline;
    padding-right:30px
}

a {
    text-decoration: none;
    color:white;
    border:none;
    font-size:15px;
    padding:2px 5px;
    transition: background 1s;
    
}

li a:hover{
   background:orange;
}

.active{
    color:#555;
}

#about{
    float:left;
    width:70%;
}

p::first-line {
    color : #666;
}

p::selection{
    color:#fff;
    background: #000;
}

#sidebar{
    background: #888888;
    position: sticky;
    top:0px;
    padding:5px;
    float:right;
    width:25%;
}

#footer{
    padding:2px 0px 2px 5px;
    background: #888;
}

#goToTop{
    position: fixed;
    bottom:20px;  
    margin-left:830px;
    padding:2px 5px;
    border-radius: 200px;
    background: orange;
}

#goToTop a {
        padding:5px 20px;
        border-radius: 200px;
        -webkit-border-radius:200px; /* Safari browser doesnt support boarder-radius, for the safari add -webkit prefix to make it work
        border: 2px solid orange;
        background: orange;
}

